<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compétitions à Venir</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Compétitions à Venir</h1>
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>Nom de la Compétition</th>
                    <th>Date</th>
                    <th>Nombre de Places</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for competition in competitions %}
                <tr>
                    <td>{{ competition['name'] }}</td>
                    <td>{{ competition['date'] }}</td>
                    <td>{{ competition['numberOfPlaces'] }}</td>
                    <td>
                        <a href="{{ url_for('book', competition=competition['name'], club=club_name) }}" class="btn btn-info">Sélectionner</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('index') }}" class="btn btn-primary mt-3">Retour à l'accueil</a>
    </div>
</body>
</html>
